.l {
    position: relative;
    z-index: 600
}

.m {
    background: rgba(0, 0, 0, .3);
    top: 0;
    bottom: 100%;
    transition: opacity .25s, bottom 0s ease .25s
}

.m, .n {
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0
}

.n {
    background: linear-gradient(150deg, #511ea0, #fed8e9);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 14px 20px 0;
    top: 100%;
    bottom: -100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    transition: top 0s ease .25s, bottom 0s ease .25s, opacity 0s ease .25s, -webkit-transform .25s;
    transition: transform .25s, top 0s ease .25s, bottom 0s ease .25s, opacity 0s ease .25s;
    transition: transform .25s, top 0s ease .25s, bottom 0s ease .25s, opacity 0s ease .25s, -webkit-transform .25s;
    color: #fff;
    text-transform: uppercase
}

.n:before {
    background: #9b9b9b;
    content: "";
    height: 200px;
    left: 0;
    right: 0;
    position: absolute;
    top: -200px
}

.o {
    display: none
}

.o:checked ~ .n {
    transition: top 0s, bottom 0s, opacity 0s, -webkit-transform .25s;
    transition: transform .25s, top 0s, bottom 0s, opacity 0s;
    transition: transform .25s, top 0s, bottom 0s, opacity 0s, -webkit-transform .25s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    top: 0;
    bottom: 0
}

.o:checked ~ .m {
    transition: opacity .25s, bottom 0s;
    opacity: 1;
    bottom: 0
}

.p {
    height: 50px;
    text-align: center
}

.p, .q {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute
}

.q {
    background-image: url(https://cdn.bustle.com/bustle/production/public/logo_w-52cf3a.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 105px
}

.r {
    background: hsla(0, 0%, 100%, .25);
    margin: 35px -20px 0;
    padding: 5px 0;
    text-align: center
}

.s {
    color: #fff;
    display: block;
    font-size: .83rem;
    font-family: proxima-nova, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 0
}

.t {
    margin: 15px 0;
    text-align: center
}

.u {
    color: #fff;
    display: inline-block;
    font-size: .8rem;
    font-family: proxima-nova, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 0;
    text-transform: capitalize;
    margin: 0 .4rem
}

.v {
    border: 1px #fff;
    border-style: solid none;
    margin-bottom: 30px;
    padding: 5px 10px;
    text-align: center
}

.v a {
    margin: 0 10px;
    vertical-align: middle
}

.v a, .v i {
    display: inline-block;
    height: 40px;
    width: 35px
}

.v i {
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 50%
}

.w {
    background-image: url(https://cdn.bustle.com/bustle/production/public/facebook_w-2f11a2.svg)
}

.x {
    background-image: url(https://cdn.bustle.com/bustle/production/public/twitter_w-5a860b.svg)
}

.y {
    background-image: url(https://cdn.bustle.com/bustle/production/public/pinterest_w-b067eb.svg)
}

.z {
    background-image: url(https://cdn.bustle.com/bustle/production/public/instagram_w-3bb78a.svg)
}

.A {
    background-image: url(https://cdn.bustle.com/bustle/production/public/podcast_w-d0c6bb.svg)
}

.B {
    font-size: .7rem;
    line-height: .7rem;
    margin-bottom: 30px;
    margin-top: -10px;
    position: relative;
    text-align: center
}

.C {
    display: inline-block;
    font-size: 1.4rem;
    margin-top: 4px;
    vertical-align: middle
}

.E {
    cursor: pointer;
    height: 50px;
    margin: auto;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 55px
}

.E span, .E span:after, .E span:before {
    background: #fff;
    border-radius: 2px;
    display: block;
    height: .2rem;
    width: 100%
}

.E span {
    margin: 8px 0 0;
    position: relative;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.E span:after, .E span:before {
    content: "";
    position: absolute
}

.E span:after {
    top: 8px;
    -webkit-transform: translateY(-8px) rotate(-90deg);
    transform: translateY(-8px) rotate(-90deg)
}

.E span:before {
    top: -8px;
    -webkit-transform: translateY(8px) rotate(-90deg);
    transform: translateY(8px) rotate(-90deg)
}

@media screen and (min-width: 768px) {
    .n {
        max-width: 22rem;
        padding-top: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        box-shadow: 0 0 10px rgba(50, 50, 50, .2)
    }

    .p {
        display: none
    }

    .r {
        margin-top: 0;
        padding-bottom: 23px;
        padding-top: 23px
    }

    .r, .t {
        margin-bottom: 30px
    }
}

.F {
    background: #fff;
    border-bottom: 1px solid rgba(50, 50, 50, .1);
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    z-index: 600;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: background .3s
}

.G {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    position: relative
}

.H {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%
}

.I {
    background-image: url(https://cdn.bustle.com/bustle/production/public/logo-2cb7d4.svg);
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 105px;
    z-index: 0;
    transition: background-image .3s
}

.J {
    color: #9b9b9b
}

.K {
    height: 50px;
    text-align: center;
    vertical-align: top
}

.K, .L {
    display: none
}

.M {
    background-color: transparent;
    background-image: url(https://cdn.bustle.com/bustle/production/public/search-bbac60.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    right: 40px;
    top: 0;
    vertical-align: top
}

.M, .N {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 0
}

.N {
    line-height: 50px;
    text-align: center;
    background: transparent
}

.N:after {
    content: "\D7";
    font-size: 2.5rem;
    color: #9b9b9b
}

.M:focus, .N:focus {
    outline: none
}

.O {
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: opacity .5s;
    width: 100%
}

.L:checked ~ .O {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.L:checked ~ .H {
    opacity: 0
}

.O:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(https://cdn.bustle.com/bustle/production/public/search-bbac60.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: .4
}

.P {
    -webkit-appearance: none;
    -webkit-flex: 1;
    flex: 1;
    border: none;
    background: transparent;
    height: 50px;
    font-size: 1.3rem;
    padding: 0;
    font-family: proxima-nova, Helvetica, sans-serif;
    color: #4a4a4a
}

.P::-webkit-input-placeholder {
    color: #9b9b9b
}

.P:-ms-input-placeholder {
    color: #9b9b9b
}

.P::placeholder {
    color: #9b9b9b
}

.P::-ms-clear, .P::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

.P::-webkit-search-cancel-button, .P::-webkit-search-decoration, .P::-webkit-search-results-button, .P::-webkit-search-results-decoration {
    display: none
}

.P:focus {
    outline: none
}

.Q {
    cursor: pointer;
    height: 50px;
    margin: auto;
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 55px;
    transition: all .3s
}

.Q span, .Q span:after, .Q span:before {
    background: #4a4a4a;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
    display: block;
    height: .2rem;
    width: 100%
}

.Q span {
    margin: 8px 0 0;
    position: relative
}

.Q span:after, .Q span:before {
    content: "";
    position: absolute
}

.Q span:after {
    top: 8px
}

.Q span:before {
    top: -8px
}

.R {
    display: inline-block;
    width: 20px;
    height: 60px;
    position: relative;
    margin: -5px 16px 0 8px
}

.R a, .R div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    transition: .25s;
    transition-timing-function: cubic-bezier(.7, 2.5, 0, 1);
    cursor: pointer;
    background-size: cover
}

.R .S {
    top: 0
}

.T {
    background-image: url(https://cdn.bustle.com/bustle/production/public/globe-167e6c.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: -1;
    opacity: .8
}

.T.U {
    background-image: url(https://cdn.bustle.com/bustle/production/public/gb-55f121.svg)
}

.V {
    background: url(https://cdn.bustle.com/bustle/production/public/gb-55f121.svg)
}

.V, .W {
    opacity: 0
}

.W {
    background: url(https://cdn.bustle.com/bustle/production/public/us-2144e9.svg)
}

.R:focus, .R:focus-within, .R:hover {
    outline: none
}

.R:focus-within .T, .R:focus .T, .R:hover .T {
    opacity: 0
}

.R:focus-within .V, .R:focus .V, .R:hover .V {
    -webkit-transform: translateX(12px);
    transform: translateX(12px);
    opacity: 1;
    -webkit-animation: X .25s;
    animation: X .25s
}

.R:focus-within .W, .R:focus .W, .R:hover .W {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
    opacity: 1;
    -webkit-animation: X .25s;
    animation: X .25s
}

.V:focus, .V:hover, .W:focus, .W:hover {
    box-shadow: 0 0 0 1px #4a4a4a
}

@-webkit-keyframes X {
    0% {
        pointer-events: none
    }
    to {
        pointer-events: all
    }
}

@keyframes X {
    0% {
        pointer-events: none
    }
    to {
        pointer-events: all
    }
}

@media screen and (min-width: 768px) {
    .G {
        line-height: 60px;
        max-width: 1020px
    }

    .G, .K {
        height: 60px
    }

    .K {
        display: inline-block;
        margin: 0 3.5px;
        text-align: center;
        width: 30px;
        opacity: .35
    }

    .K:hover {
        opacity: .65
    }

    .K i {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        display: inline-block;
        width: 100%;
        vertical-align: middle
    }

    .Y {
        background-image: url(https://cdn.bustle.com/bustle/production/public/facebook-716b9f.svg)
    }

    .Y, .Z {
        height: 15px
    }

    .Z {
        background-image: url(https://cdn.bustle.com/bustle/production/public/twitter-d67c1a.svg)
    }

    ._ {
        background-image: url(https://cdn.bustle.com/bustle/production/public/pinterest-3c501f.svg)
    }

    ._, .aa {
        height: 15px
    }

    .aa {
        background-image: url(https://cdn.bustle.com/bustle/production/public/instagram-ec8648.svg)
    }

    .ab {
        background-image: url(https://cdn.bustle.com/bustle/production/public/podcast-b7f4ab.svg);
        height: 17px
    }

    .M {
        display: inline-block;
        height: 60px;
        margin-left: 16px;
        position: relative;
        right: 0
    }

    .M:focus {
        border: 1px solid
    }

    .M:active {
        border: none
    }

    .M:before {
        background: rgba(50, 50, 50, .1);
        bottom: 0;
        top: 0;
        left: -7px;
        content: "";
        height: 20px;
        margin: auto;
        position: absolute;
        width: 1px
    }

    .N {
        line-height: 64px;
        height: 60px
    }

    .N:after {
        font-size: 2.7rem
    }

    .O:before, .P {
        height: 60px
    }

    .P {
        font-size: 1.5rem
    }

    .R {
        margin-top: 0
    }
}

.b {
    text-align: center;
    height: 60px;
    margin: 0 auto 2rem
}

.c {
    height: 100%
}

body > div > .b {
    bottom: 0;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed
}

@font-face {
    font-family: proxima-nova;
    src: url(https://cdn.bustle.com/bustle/production/public/proxima-nova-light-b618a3.woff2) format("woff2"), url(https://cdn.bustle.com/bustle/production/public/proxima-nova-light-0bf0a8.woff) format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap
}

@font-face {
    font-family: proxima-nova;
    src: url(https://cdn.bustle.com/bustle/production/public/proxima-nova-reg-6ea158.woff2) format("woff2"), url(https://cdn.bustle.com/bustle/production/public/proxima-nova-reg-4da0bf.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: proxima-nova;
    src: url(https://cdn.bustle.com/bustle/production/public/proxima-nova-smbd-147e91.woff2) format("woff2"), url(https://cdn.bustle.com/bustle/production/public/proxima-nova-smbd-6b4e13.woff) format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap
}

@font-face {
    font-family: futura;
    src: url(https://cdn.bustle.com/bustle/production/public/futura-no2-book-280835.woff2) format("woff2"), url(https://cdn.bustle.com/bustle/production/public/futura-no2-book-69a1a9.woff) format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap
}

@font-face {
    font-family: futura;
    src: url(https://cdn.bustle.com/bustle/production/public/futura-no2-bold-71b695.woff2) format("woff2"), url(https://cdn.bustle.com/bustle/production/public/futura-no2-bold-40a601.woff) format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap
}

@font-face {
    font-family: cormorant-garamond;
    src: url(https://cdn.bustle.com/bustle/production/public/cormorant-garamond-bold-a28c34.woff2) format("woff2"), url(https://cdn.bustle.com/bustle/production/public/cormorant-garamond-bold-309216.woff) format("woff");
    font-style: normal;
    font-weight: 900;
    font-display: swap
}

@font-face {
    font-family: cormorant-garamond;
    src: url(https://cdn.bustle.com/bustle/production/public/cormorant-garamond-medium-italic-5c329d.woff2) format("woff2"), url(https://cdn.bustle.com/bustle/production/public/cormorant-garamond-medium-italic-feaf12.woff) format("woff");
    font-style: italic;
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: cormorant-garamond;
    src: url(https://cdn.bustle.com/bustle/production/public/cormorant-garamond-medium-c5ec9a.woff2) format("woff2"), url(https://cdn.bustle.com/bustle/production/public/cormorant-garamond-medium-05a914.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap
}

*, :after, :before {
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    background: #f7f7f7;
    font-family: proxima-nova, Helvetica, sans-serif;
    margin: 0;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a, body {
    color: #4a4a4a
}

a {
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    word-wrap: break-word
}

h1, h2, h3 {
    font-family: proxima-nova, Helvetica, sans-serif;
    font-weight: 300;
    margin: 2rem 0 1rem;
    text-rendering: optimizeLegibility;
    line-height: 1.2
}

blockquote, p {
    margin: 32px 0
}

button {
    border: none
}

cite {
    font-style: normal
}

img {
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

amp-img, img {
    max-width: 100%
}

amp-img {
    min-width: 100%
}

iframe {
    border: 0
}

::-webkit-input-placeholder {
    color: #ccc
}

:-ms-input-placeholder {
    color: #ccc
}

::placeholder {
    color: #ccc
}

.e {
    background: linear-gradient(150deg, #fed8e9, #fdc8e0);
    min-height: calc(100vh - 51px);
    overflow: hidden;
    padding: 60px 30px 0;
    position: relative;
    text-align: center
}

.f {
    margin: 5vh auto 0;
    max-width: 660px
}

.g {
    color: #fff;
    cursor: default;
    font-size: 50vw;
    font-weight: 300;
    line-height: 40vw
}

.g, .h {
    position: relative;
    z-index: 100
}

.h {
    font-size: 21px;
    font-weight: 100;
    margin: 30px auto;
    max-width: 360px
}

.i {
    background: #000;
    border: none;
    color: #fff;
    display: inline-block;
    min-width: 250px;
    position: relative
}

.i:hover {
    background: #333
}

.j {
    transition: all .5s;
    width: 35vh
}

.j, .k {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0
}

.k {
    width: 24vh
}

@media screen and (min-width: 768px) {
    .e {
        min-height: calc(100vh - 61px)
    }

    .f {
        margin-top: 10vh
    }

    .g {
        font-size: 374px;
        line-height: 286px
    }

    .j {
        bottom: auto;
        margin-top: calc(10vh + 190px);
        top: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        transition: all .5s;
        width: 175px;
        z-index: 0
    }

    .f:hover .j {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .k {
        bottom: auto;
        margin-top: calc(10vh + 260px);
        top: 0;
        width: 135px;
        z-index: 100
    }
}

.aM {
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    font-family: proxima-nova, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .8px;
    line-height: 1.4;
    padding: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s;
    vertical-align: middle
}

.aM, .aM:not([disabled]) {
    cursor: pointer
}

.aM:focus {
    outline: none
}

@media screen and (min-width: 768px) {
    .aM {
        font-size: .9rem
    }
}