* {
	background-color: #808080;

}

h1 {
	color: black;

}

#whitebox
{
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Varela Round', sans-serif;
}
#whitebox h1{
	background-color: white;
}
