body {
    font-family: 'Varela Round', sans-serif;
    margin-top: 80px;
}

.logo {
    color: #dddddd;
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
}

#searchForm {
    width: 900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

#searchForm form {
    display: flex;
}

#searchForm ul li {
    list-style: none;
}

#searchForm input {
    width: 100%;
}

#searchForm button {
    width: 5%;
}

.searchNav {
    width: 900px;
    margin: 10px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.searchNav li {
    display: inline-block;
}

.searchNav li a {
    padding: 0px 3px 0px 3px;
}

.searchNav a:hover {
    background-color: #909090;
    text-decoration: none;
    color: white;
}

.results {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list {
    list-style: none;
}

.results li {
    padding: 0px 20px;
}