<!DOCTYPE html>


<html>

<head>
  <title>Archiv</title>
  <meta charset="utf-8" lang="de">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="home.html"><img src="../src/imgs/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="archive.html">ARCHIVE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="profile.html">PROFILE</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-4">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0 " type="submit">Search</button>
      </form>
      <button class="btn btn-info my-2 my-sm-0" onclick="window.location.href='login_registration.html'">LOGIN</button>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <div class="content">
        <div class="list-group">
          <a href="article_1.html" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Article 1</h5>
              <small>2 weeks ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <small> Max Mustermann</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Article A</h5>
              <small>4 weeks ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <small> Max Mustermann</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Article B</h5>
              <small class="text-muted">5 weeks ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <small> Max Mustermann</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Article C</h5>
              <small class="text-muted">6 weeks ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <small> Max Mustermann</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Article D</h5>
              <small class="text-muted">6 weeks ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <small> Max Mustermann</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Article E</h5>
              <small class="text-muted">6 weeks ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <small> Max Mustermann</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Article F</h5>
              <small class="text-muted">6 weeks ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <small> Max Mustermann</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Article G</h5>
              <small class="text-muted">6 weeks ago</small>
            </div>
            <p class="mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <small> Max Mustermann</small>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark p-0">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="impressum.html">IMPRESSUM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">CONTACT</a>
      </li>
    </ul>
    &copy; 2018 DPAD
  </footer>
</body>

</html>
