<!DOCTYPE html>


<html>

<head>
    <title>Archive</title>
    <meta charset="utf-8" lang="de">
</head>

<body>
<img src="../src/imgs/logo.png" alt="logo">
<nav>
    <ul>
        <li><a href="home.html">home</a></li>
        <li><a href="archive.html">archive</a></li>
        <li>
            <form>
                <input type="search" placeholder="search">
                <input type="button" value="go!">
            </form>
        </li>
        <li><a href="publisharticle.html">publish</a></li>
        <li><a href="notification.html">notification</a></li>
        <li>
            <div>
                <ul>
                    <li><a href="profile.html">profile</a></li>
                    <li><a>articles</a></li>
                    <li><a>logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
<div id="accountContainer">
    <form>
        <fieldset>
            <legend>archive</legend>
            <fieldset>
                <legend>Monster Hunter</legend>
                <figure>
                    <img width="10%" src="../src/imgs/Monster%20Hunter%20World.jpg">
                </figure>
                <label>Date: 18.04.2018</label>
            </fieldset>
            <fieldset>
                <legend>Path of Exile</legend>
                <figure>
                    <img width="10%" src="../src/imgs/Path%20of%20Exile.jpg">
                </figure>
                <label>Date: 17.04.2018</label>
            </fieldset>
            <fieldset>
                <legend>Dark Souls</legend>
                <figure>
                    <img width="10%" src="../src/imgs/Dark%20Souls.jpg">
                </figure>
                <label>Date: 19.04.2018</label>
            </fieldset>
        </fieldset>
    </form>
</div>
<footer>
    <ul>
        <li><a href = "impressum.html"> impressum</a></li>
        <li><a href = "publisharticle.html"> articles</a></li>
        <li><a href = "login_registration.html"> login</a></li>
    </ul>
    <p>
        &copy; 2018 DPAD
    </p>
</footer>
</body>

</html>
