<!DOCTYPE html>

<html>
<head>
<title>Contact</title>
<meta charset="utf-8" lang="de">
<link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <img alt="logo" src="../src/imgs/logo.png" id="logo" />
  <nav>
    <ul id="navigation">
      <li><a href="home.html">home</a></li>
      <li><a href="archive.html">archive</a></li>
      <li>
        <form>
          <input type="search" placeholder="search">
          <input type="button" value="go!" onclick="location.href='searchResults.html'">
        </form>
      </li>
      <li><a href="publishedarticles.html">published</a></li>
      <li><a href="notification.html">notification</a></li>
      <li>
        <div>
          <ul>
            <li><a href="profile.html">profile</a></li>
            <li><a>articles</a></li>
            <li><a>logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>



</body>

</html>
