<!DOCTYPE html>

<html>

<head>
  <title>Contact</title>
  <meta charset="utf-8" lang="de">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body id="contactform" onload="document.contactform.sender.focus();">

  <nav>
    <ul id="navigation">
      <li><a href="home.html">home</a></li>
      <li><a href="archive.html">archive</a></li>
      <li>
        <form>
          <input type="search" placeholder="search">
          <input type="button" value="go!" onclick="location.href='searchResults.html'">
        </form>
      </li>
      <li><a href="publishedarticles.html">published</a></li>
      <li><a href="notification.html">notification</a></li>
      <li>
        <div>
          <ul>
            <li><a href="profile.html">profile</a></li>
            <li><a>articles</a></li>
            <li><a>logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <br>
  <form id="formular" name="contact" action="home.html">
    <fieldset>
      <legend>Contact us:</legend>
      <div class="form-group">
        <input type="text" name="fname" placeholder="First name" class="form-control">
        <small id="" class="form-text text-muted">Hier deine Name diggi</small>
      </div>
      <div class="form-group">
        <input type="text" name="lname" placeholder="Last name" class="form-control">
      </div>

        <label for="sender"></label>
        <input type="email" name="sender" placeholder="my.adress@example.com" class="form-control"/>
      </div>
      <br>
    </fieldset>
    <select>
  <option value="articles">articles</option>
  <option value="author">author</option>
  <option value="profile">profile</option>
  <option value="other">other</option>
</select>
    <br>
    <div>
      <label for="message">your message:</label>
      <textarea id="message" name="message" placeholder="write your text here..." cols="20" rows="5"></textarea>
    </div>
    <div>
      <input type="submit" value="SEND!"/>
    </div>
  </form>
  <footer>
    <ul>
      <li><a href = "impressum.html"> impressum</a></li>
      <li><a href = "publishedarticles.html"> articles</a></li>
      <li><a href = "login_registration.html"> login</a></li>
    </ul>
    <p>
      &copy; 2018 DPAD
    </p>
  </footer>


</body>

</html>
