<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>article editor</title>
</head>

<body>
  <header>
    article editor
  </header>
  <nav>
    <ul>
      <li><a href="home.html">home</a></li>
      <li><a href="archive.html">archive</a></li>
      <li>
        <form>
          <input type="search" placeholder="search">
          <input type="button" value="go!">
        </form>
      </li>
      <li><a href="publisharticle.html">publish</a></li>
      <li><a href="notification.html">notification</a></li>
      <li>
        <div>
          <ul>
            <li><a href="profile.html">profile</a></li>
            <li><a>articles</a></li>
            <li><a>logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <form>

    <input type="button" value="show pending articles">
    <input type="button" value="my articles">
    <input type="button" value="approved articles">
    <input type="button" value="rejected articles"> (hier würde die liste der jeweils gewählten artikel stehen)
  </form>

  <footer>
    <ul>
      <li><a href = "impressum.html"> impressum</a></li>
      <li><a href = "publisharticle.html"> articles</a></li>
      <li><a href = "login_registration.html"> login</a></li>
    </ul>
    <p>
      &copy; 2018 DPAD
    </p>
  </footer>
</body>

</html>