<!DOCTYPE html>


<html>

<head>
  <title>Online-Journal</title>
  <meta charset="utf-8" lang="de">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="home.html"><img src="../src/imgs/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="archive.html">ARCHIVE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile.html">PROFILE</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0 mr-4" type="submit">Search</button>
      </form>
      <a class="btn btn-outline-primary icon " role="button" href="notification.html">
        <i class="material-icons">notifications</i></a>
      <button class="btn btn-info my-2 my-sm-0" onclick="window.location.href='login_registration.html'">LOGIN</button>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="content">
        <div class="card">
          <h3 class="card-header">about us</h3>
          <div class="card-body">
            <h5 class="card-title">title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
              justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <br>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">latest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">best rated</a>
          </li>
        </ul>
        <br>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="../src/imgs/monster_hunter_world.jpg" alt="monster_hunter_world">
                <div class="card-body">
                  <h5 class="card-title">ARTICLE 1</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                  <a href="article_1.html" class="btn btn-primary">read more</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="../src/imgs/dark_souls.jpg" alt="monster_hunter_world">
                <div class="card-body">
                  <h5 class="card-title">ARTICLE 2</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="../src/imgs/path_of_exile.jpg" alt="monster_hunter_world">
                <div class="card-body">
                  <h5 class="card-title">ARTICLE 3</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark p-0">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="impressum.html">IMPRESSUM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">CONTACT</a>
      </li>
    </ul>
    &copy; 2018 DPAD
  </footer>
</body>

</html>
