<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>

<body>
  <header>
    login
  </header>
  <nav>
    <ul>
      <li><a href="home.html">home</a></li>
      <li><a href="archive.html">archive</a></li>
      <li>
        <form>
          <input type="search" placeholder="search">
          <input type="button" value="go!">
        </form>
      </li>
      <li><a href="publishedarticles.html">published</a></li>
      <li><a href="notification.html">notification</a></li>
      <li>
        <div>
          <ul>
            <li><a href="profile.html">profile</a></li>
            <li><a>articles</a></li>
            <li><a>logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <form>
    <ul>
      <li>
        Email <input type="email" />
      </li>
      <li>
        Password <input type="password" />
      </li>
      <li>
        <input type="submit" />
      </li>
      <li>
        <a href="www.google.de">Forgot Password?</a>
      </li>
    </ul>

    Register
    <ul>
      <li>
        Name <input type="text">
      </li>
      <li>
        Surname <input type="text">
      </li>
      <li>
        Email <input type="email">
      </li>
      <li>
        Password <input type="password">
      </li>
      <li>
        Repeat password <input type="password">
      </li>
      <li>
        <input type="submit">
      </li>
    </ul>
  </form>

  <footer>
    <ul>
      <li><a href = "impressum.html"> impressum</a></li>
      <li><a href = "publishedarticles.html"> articles</a></li>
      <li><a href = "login_registration.html"> login</a></li>
    </ul>
    <p>
      &copy; 2018 DPAD
    </p>
  </footer>
</body>

</html>