<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Notification</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="home.html">home</a></li>
      <li><a href="archive.html">archive</a></li>
      <li>
        <form>
          <input type="search" placeholder="search">
          <input type="button" value="go!">
        </form>
      </li>
      <li><a href="article_1.html">published</a></li>
      <li><a href="notification.html"notification</a></li>
      <li>
        <div>
          <ul>
            <li><a href="profile.html">profile</a></li>
            <li><a>articles</a></li>
            <li><a>logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <div title="alert">
    <ul>
      <li>New</li>
      <li>Read</li>
    </ul>
  </div>
  <div id="newContainer">
    <form>
      <fieldset>
        <legend>new notifications</legend>
        <p>Message</p>
        <p>Articel: Titel</p>
      </fieldset>
    </form>
  </div>
  <div id="readContainer">
    <form>
      <fieldset>
        <legend>read notifications</legend>
        <p>Comment</p>
        <p>Article: Titel</p>
      </fieldset>
    </form>
  </div>

  <footer>
    <ul>
      <li><a href = "impressum.html"> impressum</a></li>
      <li><a href = "article_1.html"> articles</a></li>
      <li><a href = "login_registration.html"> login</a></li>
    </ul>
    <p>
      &copy; 2018 DPAD
    </p>
  </footer>
</body>

</html>