<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" lang="de">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Profile</title>
</head>

<body>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="home.html"><img src="../src/imgs/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="publishedarticles.html">ARTICLES</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="archive.html">ARCHIVE</a>
            </li>

      <li class="nav-item">
        <a class="nav-link" href="profile.html">PROFILE</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0 mr-4" type="submit">Search</button>
        <button class="btn btn-secondary my-2 my-sm-0" onclick="window.location.href='login_registration.html'">LOGOUT</button>
    </form>

  </div>
</nav>


<div class="container">
    <div class="row justify-content-center">
        <form class="content" name="profile" action="profile.html">
            <h2>Profile Data</h2>
                <div class="form-row">
                    <div class="form-col mr-4">


                        current Email <input type="text" class="form-control" placeholder="unchanged" title="current Email" ><br>

                        current password<input type="password" class="form-control" placeholder="unchanged" ><br>


                        new password
                        <input type="password" class="form-control" placeholder=""><br>
                        repeat new password
                        <input type="password" class="form-control" placeholder=""><br>
                    </div>
                    <div class="form-col mr-4">
                        first name
                        <input type="text" class="form-control" placeholder="unchanged" ><br>
                        last name
                        <input type="text" class="form-control" placeholder="unchanged" ><br>
                        birth date
                        <input type="date" class="form-control"><br>
                        profile picture<br>
                        <input type="file" class="btn btn-success float-right" accept=".png,.jpg,.jpeg">
                    </div>
                    <div class="form-col">
                        about me
                        <textarea id="aboutme" name="aboutme" placeholder="write something about yourself here..." maxlength="1000" cols="50" class="form-control"></textarea>
                    </div>
                </div>
            <input type="submit" class="btn btn-primary float-right">
        </form>
    </div>

</div>
</div>
</div>

<br>
<footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark p-0">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="impressum.html">IMPRESSUM</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">CONTACT</a>
        </li>
    </ul>
    &copy; 2018 DPAD
</footer>
</body>

</html>