<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Article</title>
</head>

<body>
  <img src="../src/imgs/logo.png" alt="logo">
  <nav>
    <ul>
      <li><a href="home.html">home</a></li>
      <li><a href="archive.html">archive</a></li>
      <li>
        <form>
          <input type="search" placeholder="search">
          <input type="button" value="go!">
        </form>
      </li>
      <li><a href="publishedarticles.html">published</a></li>
      <li><a href="notification.html">Notification</a></li>
      <li>
        <div>
          <ul>
            <li><a href="profile.html">profile</a></li>
            <li><a>articles</a></li>
            <li><a>logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <article>
    <div>
      <h1>Heading</h1>
      <p>Author: <a href="#">Mr. Abstract</a></p>
      <p>Date: 01.01.2018</p>
      <p>Category: Game</p>
      <img src="../src/imgs/default.jpg" alt="default img">
      <p><b>Abstract</b><br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div> <embed width="100" height="200" data="../src/article.myJournal.pdf" type="application/pdf" src="../src/imgs/article.myJournal.pdf" />
      <br>
      <button type="button" name="Download">Download</button>
    </div>
    <div>
      <h2>Comments</h2>
      <form>
        <input type="text" name="title" placeholder="Title">
        <br>
        <br>
        <textarea name="name" rows="8" cols="80"></textarea>
        <br>
        <br>
        <input type="submit" name="post">
      </form>
    </div>
  </article>

  <footer>
    <ul>
      <li><a href = "impressum.html"> impressum</a></li>
      <li><a href = "publishedarticles.html"> articles</a></li>
      <li><a href = "login_registration.html"> login</a></li>
    </ul>
    <p>
      &copy; 2018 DPAD
    </p>
  </footer>
</body>

</html>
