<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload Article</title>
    <meta charset="utf-8" lang="de">
    <meta name="viewport" content="width = device-width, initial-scale=1.0,
  user-scalable=yes">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="home.html"><img src="../src/imgs/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home.html">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="archive.html">ARCHIVE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile.html">PROFILE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="editor.html">EDITOR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="author.html">AUTHOR</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 " action="searchResults.html">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <a class="btn btn-primary icon mr-4" role="button" href="searchResults.html">
                <i class="material-icons">search</i></a>
        </form>
        <a class="btn btn-primary icon mr-4" role="button" href="notification.html">
            <i class="material-icons ">notifications</i><span class="badge">4</span></a>
        <button class="btn btn-primary my-2 my-sm-0" onclick="window.location.href='login_registration.html'">LOGIN
        </button>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row justify-content-center">
            <form class="content" name="contact" action="home.html">
                <h2>Upload an Article</h2>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" required placeholder="Title of the article">
                        </div>
                    </div>
                </div>
                <div>
                    <!--<label for="description">article description:</label>-->
                    <textarea id="description" name="description"
                              placeholder="write a short summary of your article here..." cols="20" rows="10"
                              class="form-control"></textarea>
                </div>
                <div class="form-group">
                    upload your PDF file here:
                    <input type="file" class="float-right" required accept=".pdf">
                </div>
                <div class="form-group">
                    upload your article's header image here:
                    <input type="file" class="float-right" accept=".png,.jpg,.jpeg">
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            show categories
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="form-row">
                                        <label class="mr-2" for="chk_rpg">rpg</label>
                                        <input type="checkbox" class="mt-1" id="chk_rpg">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-row">
                                        <label class="mr-2" for="chk_jnr">jump'n run</label>
                                        <input type="checkbox" class="mt-1" id="chk_jnr">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-row">
                                        <label class="mr-2" for="chk_sht">shooter</label>
                                        <input type="checkbox" class="mt-1" id="chk_sht">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-row">
                                        <label class="mr-2" for="chk_act">action</label>
                                        <input type="checkbox" class="mt-1" id="chk_act">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                <div class="col">
                    <input type="submit" value="UPLOAD" class="btn btn-primary float-right"/>
                </div>
                </div>
            </form>
        </div>
    </div>

</main>
<footer class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="col">
        <div class="row">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item text-center">
                    <a class="nav-link" href="impressum.html">IMPRESSUM</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="contact.html">CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <p class="text-secondary  mx-auto">&copy; 2018 DPAD</p>
        </div>
    </div>
</footer>

</body>

</html>
