<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload article</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>

<body>


<nav>
    <ul id="navigation">
        <li><a href="home.html"><img id="logo" src="../src/imgs/logo.png" alt="logo" ></a></li>
        <li><a href="archive.html">archive</a></li>
        <li>
            <form>
                <input type="search" placeholder="search">
                <input type="button" value="go!">
            </form>
        </li>
        <li><a href="publishedarticles.html">published</a></li>
        <li><a href="notification.html">Notification</a></li>
        <li>
            <div>
                <ul>
                    <li><a href="profile.html">profile</a></li>
                    <li><a>articles</a></li>
                    <li><a>logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>

<div id="whitebox">
<h1>toast</h1>
test

</div>

<div id="whitebox">
    <h1>toast</h1>
    test

</div>

<div id="whitebox">
    <h1>toast</h1>
    test

</div>

<div id="whitebox">
    <h1>toast</h1>
    test

</div>

<div id="whitebox">
    <h1>toast</h1>
    test

</div>

<div id="whitebox">
    <h1>toast</h1>
    test

</div>

<div id="whitebox">
    <h1>toast</h1>
    test

</div>

</body>
</html>